# Core ML
torch>=2.0.0
torchvision>=0.15.0
numpy>=1.23.0
Pillow>=9.0.0

# API / Deployment
Flask>=2.2.0

# Training utilities
tqdm>=4.65.0

# Development =
jupyter>=1.0.0
ipykernel>=6.0.0
matplotlib>=3.6.0

